<!--The content below is only a placeholder and can be replaced.-->
 <nav class='nav navbar navbar-inverse navbar-expand-md' style='background-color:#555;color:#fff' >
  <span style='font-size:30px' class='navbar-brand' > IMDB Movies Style </span >
  <a  class='navbar-brand' routerLink ='/' > All Movies </a>
  <a  class='navbar-brand' [routerLink]="['/fav','favourite']" > Favourites </a>
  <a class='navbar-brand' routerLink ='/add' > Add Movie </a>
    <ul class='navbar-nav mr-auto'>
      <li class='nav-item'>
      </li>
    </ul>
    <ul class='navbar-nav mr-auto'>
      <li class='nav-item'>
      </li>
    </ul>
</nav> 
<hr/>
<div class='container mt-5'>
  <router-outlet></router-outlet>
</div>


